body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.space{
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: black;
  position: relative;
}

.earth{
  position: absolute;
  background-color: teal;
  border-radius: 50%;
  filter: blur(3px);
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
}

.orbit{
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: orbit 5s linear infinite;
}

.moon{
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: lightgray;
  border-radius: 50%;
  filter: blur(3px);
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes orbit{
  0%{
    transform: rotate(0deg) translate(-50%, -50%);
  }
  100%{
    transform: rotate(360deg) translate(-50%, -50%);
  }
}